{% extends '_base.html' %}

{% block conteudo %}
  <h1>Página de {{ titulo }}</h1>


  <h3>Adicionar Usuário</h3>
  <form action="usuarios_adc.php" method="post">
      <input type="text" name="user" placeholder="Escreva o usuário">
      <input type="password" name="password">
  
      <input type="submit" value="Adicionar">
  </form>

  <h3>Lista de {{ titulo }}</h3>

    {% if usuarios|length > 0 %}
    <table id="items" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuário</th>
            <th colspan="2">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for item in usuarios %}
            <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.user }}</td>
            <td><a href='usuarios_editar.php?id={{ item.id }}'>Editar Item</a></td>
            <td><a href='usuarios_apagar.php?id={{ item.id }}'>Apagar Item</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nenhum Item Adicionado</p>
    {% endif %}

{% endblock %}
